<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Some default DLL mappings -->
  <dllmap dll="pam" os="Linux" target="libpam.so.0" />
  <dllmap dll="pam" os="Linux" target="libpam.so" />
  <dllmap dll="pam" os="FreeBSD" target="libpam.so.0" />
  <dllmap dll="pam" os="FreeBSD" target="libpam.so" />
  <dllmap dll="pam" os="OSX" target="libpam.2.dylib" />
  <dllmap dll="pam" os="OSX" target="libpam.1.dylib" />
  <dllmap dll="pam" os="OSX" target="libpam.dylib" />
</configuration>
